.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chart {
  width: 60%;
  background-color: #002242;
}

.Button {
  appearance: 'ghost';
  background-color: #002242;
  color: #0061BD;
  font-size: calc(10px + 2vmin);
  border: black;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  width: 200px;
}

.Footer{
  text-align: center;
  position: fixed;
  background-color: #002242;
  bottom: 0;
  left: 0;
  width: 100%;
}
