body {
  background: #212529;
  color: #6c757d;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
}

ul li{
  font-size:30px;
}

.Main{
  background: #212529;
  color: #6c757d;
  text-align: center;
  height: calc(100vh - 80px);
  top: 0;
  width: 100%;
  margin: 0 auto;
}

.TempDisplay{
  background: #212529;
  color: #6c757d;
  text-align: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.Chart {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #343A40;
}

.Button {
  background-color: #343a40;
  border: none;
  color: #ADB5BD;
  padding: 10px 10px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  width: 200px;
}

.Footer{
  text-align: center;
  position: fixed;
  background-color: #343A40;
  bottom: 0;
  height: 80px;
  width: 100%;
}

.Table{
  margin: 0 auto;
}

.Menu{
  width: 200px;
  height: 100%;
  background-color: #343A40;
  position: fixed;
  left: 0;
}

.Empty{
  width: 100;
  height: 40;
  position: fixed;
  left: 0;
}

.MenuButton{
  background-color: #343a40;
  color: #ADB5BD;
  border: none;
  text-align: center;
  font-size: calc(10px + 1vmin);
  border-radius: 1px;
  margin: 0px 0px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.EntryButton{
  background-color: #343a40;
  color: #ADB5BD;
  border: none;
  text-align: left;
  font-size: calc(10px + 1vmin);
  border-radius: 1px;
  margin: 0px 0px;
  cursor: pointer;
  width: 200px;
}

.EntryButton:hover {
  background-color: #ADB5BD;
  color:#212529;
  border: none;
  text-align: left;
  font-size: calc(10px + 1vmin);
  border-radius: 1px;
  margin: 0px 0px;
  cursor: pointer;
  width: 200px;
}
